body {
    background: lavender;
    font-family: "Lucida Console", "Courier New", monospace;
}

figure {
    width: 20%;
    background: #e4bcf8;
    
}

img {
    width: 80%;
    margin: auto;
}

img#PSB {
    width: 10%;
}

section {
    background: #b08eec;
    width: 90%;
    margin: auto;
    padding: 1em;
}
div.chipotle{
    position: absolute;
  top: 379px;
  right: 85px;
 
}
img.entrance{
    position: absolute;
    width: 120%;
    top: 100px;
    right: 0px;
}
p.line{
    position: relative;
    text-align: center;
}
ul.spacing{
    line-height: 1.8;
}
div.eatnpark{
    position: absolute;
  top: 708px;
  right: 85px;
}
img.profile{
    width: 15%;
    position: absolute;
  top: 115px;
  right: 100px;
}
div.profileBackground{
    width: 17%;
    height: 38%;
    position: absolute;
  top: 100px;
  right: 85px;
    background-color: #8528b4;
}
h2.header{
    position:relative;
    text-align:center;
}
p.erie{
    position:absolute;
    top: 1178px;
    right: 85px;
}
div.na{
    position:absolute;
    top: 1307px;
    right: 85px;
}
h2.inquiry{
    position: relative;
    text-align: center;
}
p.home{
    position: relative;
    text-align: center;
}
img.imgsize{
    width: 30%;
}
img.imgsize2{
    width: 25%;
}
img.imgsize3{
    width: 30%;
}

img.bold{
    position: absolute;
    top: 100px;
    height: 60%;
    left: 10px;
    width: 120%;
}
section.home {
    background: none;
    width: 90%;
    margin: auto;
    padding: 1em;
}
p.ind{
    text-indent: 50px;
    line-height: 1.8;
    
}

div.flex{
    display: flex;
}