body {
    background: lavender;
    font-family: "Lucida Console", "Courier New", monospace;
}

figure {
    width: 20%;
    background: /*#EFD6F6*/ white;
    
}

img {
    width: 80%;
    margin: auto;
}

img#PSB {
    width: 10%;
}

section {
    background: #b08eec;
    width: 90%;
    margin: auto;
    padding: 1em;
}
div.flex{
    position: absolute;
  top: 186px;
  right: 85px;
 
}
p.c{
    position: relative;
    text-align: center;
}