body {
    background: lavender;
    font-family: "Lucida Console", "Courier New", monospace;
}

figure {
    width: 20%;
    background: /*#EFD6F6*/ white;
    
}

img {
    width: 80%;
    margin: auto;
}

img#PSB {
    width: 10%;
}

section {
    background: #b08eec;
    width: 90%;
    margin: auto;
    padding: 1em;
}
div.flex{
    position: absolute;
  top: 379px;
  right: 85px;
 
}
p.c{
    position: relative;
    text-align: center;
}
ul.g{
    line-height: 1.8;
}
div.f{
    position: absolute;
  top: 708px;
  right: 85px;
}
img.p{
    width: 15%;
    position: absolute;
  top: 115px;
  right: 100px;
}
div.t{
    width: 17%;
    height: 38%;
    position: absolute;
  top: 100px;
  right: 85px;
    background-color: #8528b4;
}
h2.h{
    position:relative;
    text-align:center;
}



